@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
}
body{
    background-color: #21232C;
}
/* styel navbar */
.Navbar_Edit{
    width: 100%;
    background-color:rgb(255,255,255,0.03) ;

}

/* styel sidbar */
.sidebar{
    width: 50% !important; 
    height: 32% !important; 
    border-radius:20px 0px 5px 20px !important;
}
/* media sidbar */
 @media (max-width:991px) {
    .sidebar{
        
        background-color: rgb(255,255,255,0.15);
    }
 }
 /* styel logo image */
.image_logo{
    width: 100px;
    height: 50px;
   
    
}
/* styel A tag */
.link_in_nav{
    color: wheat;
    position: relative;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 ;
   
}
/* In order to pass a line under the link */
.link_in_nav::after{
    content: "";
    position: absolute;
    background-color: #C9B06C;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -1px;
    border-radius:25%;
    transition: 0.3s;
    text-shadow: #C9B06C 4px 5px 40px;
}
/* movements on A tag */
.link_in_nav:hover::after{
    width: 100%; 
}
.link_in_nav:hover{
    color: #C9B06C;
    text-shadow: #C9B06C 4px 5px 40px;
}
/* styel loco in navbar */
.image_nav_bar{
    height: 40px;
     width: 100px;
 
 }
/* home  */
header{
    margin: 50px ;
}
/* styel div personal image personal  and imge svg */
.home__img {
    width: 80%;
}
/* styel svg image  */
.home__blob {
  fill:  #C9B06C;
 
}
/* styel personal image */
.home__blob-img {
   width: 100%;
}
/* styel div text home */
.text_home{
    padding-left: 100px;
    margin-top:50px;
}

.span_im{
    color: #C9B06C;
}
/* styel pesonal name in text home */
.pesonal_name{
    color: #C9B06C;
    font-size: xx-large;
    font-style: bold;
    margin-top: 20px;

}

h3{
    color: white;
    font-style: bold;
    margin-top: 20px;
}
/* stye  pargraph in text home */
.pargr_home{
    width: 80%;
    color: white;
}

 /* div link in home  */
 .social{
    width: 75%;
    display: flex;
    justify-content: center;
    justify-content:space-around ;
    color: white;
    /* flex-wrap: wrap ; */
 }
/* link in div in text home  */
 .links{
    display: block;
  font-size: x-large;
    color: #21232C;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 5px;
    background-color: #C9B06C;
    border-radius: 55% 45% 48% 52% / 27% 29% 71% 73% ;
    border-color:  #C9B06C;
    border-style:solid ;
    margin-top: 20px;
    transition: 0.5s;
   
 }
 /* hover link in home link  */
 .links:hover{
    transform: translateY(-10px);
    text-shadow: #C9B06C 0px 25px 25px;
 }



 /* media in item in home  */
@media (max-width:600px) {
    .text_home{
        padding-left: 50px;
        margin-top:10px;
    
    }
    .text_about{
        padding-left: 50px;
        margin-top:10px;
       
    }
    .links{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0px;
        padding-bottom: 5px;
        font-size: large;
    }
    
 }
 /* media text home  */
 @media (max-width:450px){
    .pesonal_name{
    font-size: x-large;
    }
    h3{
        font-size: large;
    }
    .pargr_home{
        font-size: small;
    }
    
    }
    @media (max-width:991px) {
        .links{
            margin-left: 10px;
         
        }
            }
 /* about css  */
 .about{
    margin-top: 100px;
    background-color:rgb(255,255,255,0.03) ;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* styel div personal image and svg image  */

 .about__img{
    width: 80%;
 }
 /*  styel svg image in about  */
 .about__blob{
    fill:    rgb(255,255,255,0.03);
          stroke-width:2px;
          stroke:#C9B06C;
 }
 /* styel personal image in about  */
 .about__blob-img{
    width: 100%; 

 }

/* styel div about text */
 .text_about{
    margin-top:30px;

}
/* styel about */

.header_about{
    margin-top: 20px;
    color: #C9B06C;
    font-size: xx-large;
    font-style: bold;
    border-bottom:2px solid #C9B06C;
   display: block;
    
}

.pargr_abou{
    color: white;
    width: 80%;
    font-size: large;

}

span{
    color: #C9B06C;
}
.h3_about{
    color: #C9B06C;
}

/* media item in about */
@media (max-width:600px) {
    .header_about{
       text-align: center;
    }
        }

/* Services */
.Services{
    margin: 50px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

  
}
.parent_card{
    width: 80%;
}
/* styel header servics  */
.serviecs_header{
    font-size: xx-large;
    display: inline-block;
    margin-bottom: 100px;
    color: #C9B06C;
    border-bottom: 1px solid #C9B06C ;
}
/* styel icon header in cards  */
.header_icon{
    color: #C9B06C;
    border: #21232C 1px solid;
    border-radius: 50% ;
    background-color: #21232C;
    
}
.header_card1{
    color: wheat;
}
/* styel cards */
#cards{
    width: 18rem; 
    background-color: rgb(255,255,255,0.15);
    border-radius:25px ;
    margin-bottom:20px ;
    transition: 0.3;
    
}

.styel_card2{
    padding-left: 5px; padding-right: 5px;padding-top: 1px;padding-bottom:1px ;
}

/* styel icon heder in card3 */
.styel_card3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  /* media serviecs item  */
  @media (max-width:991px) {
    .serviecs_header{
margin-bottom: 30px;
    }
  }
/* Contact */
/* styel div Contect  */
.container-Contect{

    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* styel form */
.container-Contect form{
    width: 75%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 15px 15px 50px rgb(201,176,108,0.2);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}
/* styel header in form */
.container-Contect form h1{
    width: 100%;
    color: #C9B06C;
    font-size: xx-large;
    margin-top: 20px;
  
    text-align: center;
}
/*  styel inputs in form */
.container-Contect form input{
    width: 40%;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    color: #C9B06C;
    border-bottom: 2px solid #C9B06C;
}
/* styel placeholder in input in form */
.container-Contect form input::placeholder{
    color: #C9B06C;
}
.container-Contect form #lastName,
.container-Contect form #mobile{
    margin-left: 20px;
}
.container-Contect form h4{
    color: #C9B06C;
    font-size:large ;
   
    margin-top: 20px;
}
/* styel text area in fome  */
.container-Contect form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #C9B06C;
    color: #C9B06C;
    
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 90%;
    max-width: 90%;
    min-height: 80px;
    max-height: 80px;
}

/*  styel button in form */
.container-Contect form #button{
    border: none;
    background: #C9B06C;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;
    color: #21232C;
    width: 100px;
    padding: 0;
    margin-right: 60%;
    margin-bottom: 30px;
    transition: 0.3s;
}
/* moving button in form */
.container-Contect form #button:hover{
    transform: translateY(-10px);
    box-shadow: 0px 20px 50px rgb(201,176,108,0.2);
}

/* footer */
footer{
   
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
align-items: center;
    background-color:rgba(255,255,255,0.1); 
    padding-bottom: 20px;

    flex-wrap: wrap;

}
/* styel text in footer  */
.footer_h4{ 
    
    margin-top: 20px;
    color: wheat;
    
    width: 40%;
    
  }
  /* styel icon links  in footer  */
.social-footer{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* media item footer */
@media (max-width:650px) {
    .footer_h4{
        width: 40%;
    }
    .social-footer{
        width: 60%;
    }
}

@media (max-width:500px) {
    footer{
        display: block;
    }
    .footer_h4{
       width: 100%;
       text-align: center;
       
    }
    .social-footer{
        padding: 2px;
        width: 100%;
    }
    .links{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0px;
        padding-bottom: 3px;
    }
    
}